.chat-main__message-list__upper-message
  .chat-main__message-list__upper-message__user-name
    = message.user.name
  .chat-main__message-list__upper-message__date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.chat-main__message-list__lower-message
  - if message.content.present?
    %p.chat-main__message-list__lower-message__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    




































-


  